params {
	// requires chr*.vcf.gz format ( with index )
	input_reference = "/lustre06/project/rrg-vmooser/shared/gnomad.genomes.v3.1.2.hgdp_tgp/filtered_pruned/chr*.vcf.gz"
	input_study = "../VCFs-BQC19/chr*.vcf.gz"

	// path to unzipped LASER directory
	path_to_laser = "~/scratch/LASER-2.04"

	// number of PCs to compute (and then project and infer ancestry)
	nPCs = 20 // default 20

	// reference population file (.csv with ID column and population column)
	reference_pop = "~/scratch/gnomad_v3/hgdp_tgp_meta_genetic_region.csv"

	// Minimum probability threshold for assigning population label w RF model
	min_prob = 0.5
}


process {
        executor = "slurm"
	clusterOptions = "--account=rrg-vmooser"
	cpus = 1
        time = "1d"
        memory = "4GB"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "nextflow" }
        }
        $local {
                cpus = 1
        }
}
