params {
	input_ref = "path/reference_vcfs/chr*.vcf.gz"
	input_study = "path/study_vcfs/chr*.vcf.gz"
}


process {
        executor = "slurm"
	clusterOptions = "--account="
	cpus = 1
        time = "1d"
        memory = "4GB"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "nextflow" }
        }
        $local {
                cpus = 1
        }
}
