params {
	// requires chr*.vcf.gz format ( with index )
	input_reference = "path/to/reference/chr*.vcf.gz"
	input_study = "path/to/study/chr*.vcf.gz"

	// path to unzipped LASER directory
	path_to_laser = "path/to/LASER-2.04"

	// number of PCs to compute (and then project and infer ancestry)
	nPCs = 20 // default 20

	// reference population file (.csv with ID column and population column)
	reference_pop = "path/to/hgdp_tgp_meta_genetic_region.csv"

	// Minimum probability threshold for assigning population label w RF model
	min_prob = 0.5 // default 0

	// Random seed to use for RF model
	seed = 11
}


process {
        executor = "slurm"
	clusterOptions = "--account="
	cpus = 1
        time = "1d"
        memory = "4GB"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "nextflow" }
        }
        $local {
                cpus = 1
        }
}
